* {
  padding: 0%;
  margin: 0%;
}

body {
 background-image: url("../pencil-2782840_640.jpg");
background-color: transparent;
}
.parrafo {
font-size: 20pxpx;
font-family: cursive;

}
.cifrado {
margin-bottom: 30%;
margin-top: 60px;
margin: 3%;





}
.descifrado {
    margin-top: 200px;
    margin: 3%
    
  
}

#input-deco {
 height: 95px;
 margin-top:25%;
 border: 1px solid rgb(170, 116, 125);

}
#input-enco {
 height: 95px;
 border: 1px solid rgb(170, 116, 125);
}
#input-decode {
 height: 100px;
 margin-top: 15%;
 border: 1px solid rgb(47, 78, 60);
 
}
#input-encode {
 height: 100px;
 border: 1px solid rgb(47, 78, 60);
}
header {
    background-color: rgb(14, 139, 139);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

header a img {
    width: 15%;
    height: 10%;
   justify-content: left; 
 }

 aside {
     display: flex;
     justify-content: space-between;
 }
.favorito {
    color: red;
    font-size: 16px
}
     
.cumple {
    color: red;
    font-size: 16px
}
}